program: src/training/pretrain.py
project: AtlasLM-Pretrain
method: grid
metric:
  name: val/loss
  goal: minimize

command:
  - ${env}
  - ${interpreter}
  - ${program}
  - ${args}

parameters:
  learning_rate:
    value: 3.0e-4 
  d_model:
    value: 256
  num_heads:
    value: 4
  d_ff:
    value: 1024
  num_layers:
    value: 4
  vocab_size:
    value: 100000
  context_length:
    value: 256
  theta:
    value: 10000.0

  batch_size:
    value: 8
  max_iters:
    value: 1500
  eval_interval:
    value: 10
  eval_iters:
    value: 10
  log_interval:
    value: 10
  checkpoint_interval:
    value: 100 
  seed:
    value: 42

  optimizer:
    value: adamw
  min_lr:
    value: 6.0e-5
  weight_decay:
    value: 0.01
  beta1:
    value: 0.9
  beta2:
    value: 0.999
  gradient_clip_norm:
    value: 1.0
  warmup_iters:
    value: 2000
  cosine_iters:
    value: 100000

  train_data:
    value: src/data/tokenized/owt/train/owt_train_tokens_.bin
  val_data:
    value: src/data/tokenized/owt/val/owt_valid_val_tokens_.bin
  data_dtype:
    value: uint16

  checkpoint_dir:
    value: src/checkpoints/model/tiny-model
    
  resume_from:
    value: null

  device:
    value: cuda
  compile:
    value: true